body{
    background: url(imagem/0ea02382597a26aaacceb2c78c227bb4.png);
    background-size: cover;
    color: white;
    text-align: right;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;

}   
h1{
    font-size: 100px;
    padding-top: 380px;
    margin-bottom: 15px;
}

p{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    opacity: 0.9;
}

span{
    color:rgb(252, 73, 103);
}

ul{
    list-style: none;
    margin-top: 50;
    font-size: 30px;
    
}


ul li a:hover{
    opacity: 0.7;
    color: pink;
}



.SEGUNDO-PARAGRAFO{
    margin-bottom: 60px;
}

.BOTAO{
    text-decoration: none;
    background-color: rgb(252, 82, 111);
    padding: 10px 15px;
    color: white;


}

.BOTAO:hover{
    opacity: 0.7;
}

@media (max-width: 640px) {
    body{
        background: pink;
        text-align: center;
    }

    h1 {
        font-size: 70px;
        margin-bottom: 70px;
        padding-top: 180px;
    }

    p {
        font-size: 30px;
    }

    .SEGUNDO-PARAGRAFO {
        margin-top: 20px;
    }
}

/*breakpoints mais comuns
tlm: 640px
tablet: 768px
laptop: 1024px
desktop: 1280px
xl desktop: 1536px 
*/